

.create-form input, .create-form textarea, .create-form select{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border: 1px solid #12151C;
}


.create-post-section{
    margin-top: 7.5rem;
    margin-left: 7.5rem;
    margin-right: 7.5rem;
    padding-right: 25rem;
    margin-bottom: 15rem;
}

.create-form > div{
    margin-top: 2rem;
}

.create-blog-btn{
    padding: 1rem;
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    border: 1px solid #c44143;
    background-color: #c44143;
}