
.login-section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #12151C;
    background-color: #12151C;
}

.login-container{
    display: flex;
    justify-content: space-between;
    width: 820px;
    height: 620px;
    border-radius: 1rem;
}

.login-container h1{
    text-align: center;
    font-size: 3rem;
}

.login-container h1 span{
    font-size: 4rem;
    color: #c44143;
}

.signup-text{
    margin-top: 3rem;
    text-align: center;
}

.login-container form{
    display: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-container .mb-3{
    text-align: left !important;
}

.login-container input{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border: 1px solid #12151c92;
}

.login-container input:focus{
    box-shadow: 0 0px 10px #c44143;
    border: 1px solid #c44143;
}

.login-container button{
    font-size: 1.2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border: 0;
    background: #c44143;
    transition: 0.5s ease;
}

.login-container button:hover{
    border: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    background: #c441438e;
}

.signup-btn{
    font-size: 12px;
    text-decoration: underline;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    background: none !important;
    color: rgb(40, 128, 236);
}

.signup-btn:hover{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.hidden-form{
    display: none;
}

.left-side{
    padding: 2.2rem;
    width: 50%;
    background: white;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.right-side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 2.2rem;
}

.login-container p{
    font-size: 2.2rem;
    color: white;
}



@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.shown-side{
    background-color: white;
    animation: appear-animate 0.3s ease forwards;
}

.hidden-side{
    background: linear-gradient(335deg, #12151C 0%, #c44143 100%) !important;
}

.slide-right{
    position: relative;
    animation: slide-right 0.5s ease forwards;
}

.slide-left{
    position: relative;
    animation: slide-left 0.5s ease forwards;
}

@keyframes appear-animate {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes slide-right {
    0%{
        opacity: 0;
        right: 100px;
    }
    100%{
        opacity: 1;
        right: 0;
    }
}

@keyframes slide-left {
    0%{
        opacity: 0;
        left: 100px;
    }
    100%{
        opacity: 1;
        left: 0;
    }
}
    
@media (max-width: 840px) {
   .shown-side{
        padding: 5rem;
        width: 100%;
        border-radius: 1.2rem;
   }
   
   .hidden-side{
        display: none;
   }

   .login-container{
        margin: 3rem;
   }
}

