

.socmed-icons{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.socmed-icons li{
    display: flex;
    align-items: center;
}

.socmed-icons li a{
    text-decoration: none;
}

.socmed-icons i{
    font-size: 1.5rem;
}

.nav-section{
    background-color: #12151C !important;
    position: relative !important;
}

.navbar-brand{
    color: white !important;
}

.nav-btn{
    color: white !important;
    background: none !important;
    border: none;
    font-size: 1.5rem;
}

.nav-btn i{
    transition: 0.3s ease;
}

.nav-btn:hover i{
    color: #c44143 !important;
}

.nav-link{
    text-decoration: none !important;
}