.recent-post-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    padding: 5rem;
    /* Additional styles as needed */
  
    @media (max-width: 980px) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 1fr;
    }
}
  
.post-card {
    width: 320px;
    height:  480px;
    overflow: hidden;
    padding: 20px;
    color: #12151c !important;
    transition: 0.5s ease;
}
  
.post-card-thumbnail {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    max-height: 400px;
    transition: 0.3s ease;
    text-overflow: ellipsis;
    word-wrap: break-word;
    
    @media (max-width: 980px) {
      height: 150px;
    }
}

.post-card-thumbnail:hover {
    cursor: pointer;
    filter: brightness(50%);
}

.post-card > h2{
    margin-top: 1rem;
}

.post-card > p{
    font-family: 'Montserrat', sans-serif;
    color: #606060;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.category-container{
    display: flex;
    gap: 0.5rem;
}

.category-container p{
    color: #c44143;
    padding: 0.25rem;
    border-radius: 0.2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
}

/*=======================================*/
.feature-section{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://images.pexels.com/photos/8892/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.feature-post-container {
    display: grid;
    grid-template-columns: 40rem 20rem;
    position: relative;
}

.feature-post-column {
    display: flex;
    flex-direction: column;
}
  
.feature-post-item {
    width: 100%;
    height: auto;
    transition: 0.45s ease;
}

.feature-post-item:hover{
    filter: brightness(30%);
}

.feature-content {
    position: absolute;
    top: 75%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px;
}

.feature-content h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

.feature-content p {
    font-size: 16px;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.small-content h2 {
    font-size: 18px;
    margin-bottom: 8px;
}

.small-content p {
    font-size: 14px;
}

.feature-post-link {
    display: inline-block;
    position: relative;
}
  

.big-image {
    height: auto;
    max-width: 100%;
    margin-bottom: 20px;
}

.more-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-link{
    text-decoration: none;
    width: 100%;
    text-align: center;
    color: #12151c;
    font-size: 1.5rem;
    margin-bottom: 10rem;
}

.more-link i{
    position: relative;
}

.more-link:hover i{
    animation: moveArrow 0.4s ease normal;
}



@media (max-width: 980px) {
    .feature-post-container {
      grid-template-columns: 1fr;
    }
    
    .last-feature{
        display: none;
    }

    .feature-content {
        width: 70%;
        max-width: 90%;
    }

    .small-content h2 {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .small-content p {
        font-size: 16px;
    }
} 

@media (max-width: 540px) {
    .small-content h2, .feature-content h2 {
        font-size: 16px;
        margin-bottom: 4px;
    }

    .small-content p, .feature-content p {
        font-size: 12px;
    } 
}

@keyframes moveArrow {
    0%{
        left: 0px;
    }

    50%{
        left: 8px;
    }

    100%{
        left: 0px;
    }
}

  
  
  
  
  
